.heading {
    &--primary {
        font-size: 30px;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: $color-black;

        @media (max-width: $SM ) {
            font-size: 20px;
            letter-spacing: 1px;
        } 
    }
}
