.search {
    height: 30px;
    display: flex;
    justify-content: flex-end;
    // @media (max-width: $SM) { 
    //     position: absolute;
    // }


    &_input {
        display: block;
        padding: 0 5px;
        background-color: $color-white;
        outline: none;
        opacity: 0;
        width: 0;
        transition: ease .3s;

        
    }

    &_btn {
        padding: 0 10px;
        cursor: pointer;
        color: $color-white;
        text-transform: uppercase;
        font-size: 16px;
        font-family: $default-fonts;
        @include flexcenter;

        &--img {
            margin: 0 10px;
        }
    }
}

