.start {
    background-image: url('../images/start_bg.jpg');
    margin-top: -80px;
    position: relative;
    
    &__wrapper {
        position: relative;
        height: 100vh;
    }

    &__text {
        color: $color-white;
        position: absolute;
        top: 50%;
        right: 0;
        text-align: right;
        transform: translateY(-50%);

        &_heading {
            font-size: 55px;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 12px;

            @media (max-width: $SM ) {
                font-size: 30px;
                letter-spacing: 5px;
            } 
        }

        &_paragraph {
            font-size: 24px;
            letter-spacing: 7px;
            font-weight: 300;
            margin: 45px 0 35px;
            color: $color-light;

            @media (max-width: $SM ) {
                font-size: 20px;
                letter-spacing: 2px;
            } 
        }

        &_seeAll {
            margin-top: 15px;
            display: block;
            font-size: 18px;
            font-weight: 300;
            letter-spacing: 5px;
            color: $color-light;
            letter-spacing: 5px;

            @media (max-width: $SM ) {
                letter-spacing: 2px;
            } 
        }
    }

    &__btn {
        display: inline-block;
        text-transform: uppercase;
        padding: 20px 40px;
        font-size: 20px;
        font-family: $default-fonts-name;
        color: $color-white;
        border: 1px solid $color-primary;
        cursor: pointer;
        transition: .2s all ease;
    
            &:hover {
                background-color: rgba($color-primary-light, .3);
            }
        
            &:active {
                transform: scale(1) translateY(1px);
            }
    
        @media (max-width: $SM ) {
            padding: 15px 20px;
            font-size: $small-font-size;
            }
        }

    &__arrow {
        position: absolute;
        left: 50%;
        bottom: 50px
    }

    &__potion {
        color: $color-white;
        position: absolute;
        transform: rotateZ(-90deg);
        left: -100px;
        bottom: 140px;
        font-size: 26px;
        text-transform: uppercase;

        @media (max-width: $SM ) {
            font-size: 16px;
            letter-spacing: 2px;
            left: -100px;
            bottom: 80px;
        } 
    }
}

